.view-all-employees-container {
    display: flex;
    flex-direction: column;

    width: 95%;
    align-items: center;

    margin-left: 60px;
    margin-top: 60px;
}

.view-all-employees-header {
    margin: 20px;
}

.view-all-employees-employees {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    list-style: none;
}

.view-all-employees-employees-header {
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

.view-all-employees-employees-header > div {
    width: 95px;
}
