.landing-page-container {
    display: flex;
    flex-direction: column;

    width: 95%;
    align-items: center;

    margin-left: 60px;
    margin-top: 60px;
}

.landing-page-time {
    display: flex;
    flex-direction: row;

    width: 90%;
    justify-content: space-around;
    
}

.sun-icon {
    animation-name: rotate;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}