div#root {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-left: 65px;
    margin-top: 65px;
}

.employee-form-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
}

.employee-form-header {
    
    padding: 5px;
    margin: 5px 0;

    border-radius: 5px;
}

.employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.employee-form-prompts {
    display: flex;
    flex-direction: row;
}

.employee-form-role {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
}

.employee-form-is-former-employee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.employee-form-action {
    display: flex;
    align-self: flex-end;
}
