div#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.employee-form-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
}

.employee-form {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 95%;
    padding: 10px;

    border: 1px solid red;
}

.employee-form > div {
    margin: 0px 5px;
}