
.employee-form-container {
    display: flex;
    flex-direction: column;

    width: 95%;
    align-items: center;

    margin-left: 60px;
    margin-top: 70px;
}

.employee-form-header {
    
    margin: 0.6em;
    border-radius: 0.2em;
    padding: 0.5em;
}

.employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.employee-form-prompts {
    display: flex;
    flex-direction: row;
}

.employee-form-role {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
}

.employee-form-is-former-employee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.employee-form-action {
    display: flex;
    align-self: flex-end;
}
