.multi-select-container {
    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: .05em solid #777;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 16.5px 14px;
    border-radius: .25em;
    outline: none;
}

.multi-select-container:focus {
    border-color: hsl(200, 100%, 50%);
}

.multi-select-value {
    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.multi-select-clear-btn {
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
}

.multi-select-clear-btn:focus,
.multi-select-clear-btn:hover {
    color: #333;
}

.multi-select-divider {
    background-color: #777;
    align-self: stretch;
    width: .05em;
}

.multi-select-caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: #777;
}

.multi-select-options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    border: .05em solid transparent;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: transparent;
    z-index: 100;
}

.multi-select-options.multi-select-show {
    display: block;
}

.multi-select-option {
    padding: .25em .5em;
    cursor: pointer;
}

.multi-select-option.multi-select-highlighted {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.multi-select-option.multi-select-selected {
    background-color: hsl(200, 100%, 70%);
}

.multi-select-option-badge {
    display: flex;
    align-items: center;
    border: .05em solid #777;
    border-radius: .25em;
    padding: .15em .25em;
    cursor: pointer;
    background: none;
    outline: none;
}


.multi-select-option-badge:hover,
.multi-select-option-badge:focus {
    background-color: hsl(0, 100%, 90%);
    border-color: hsl(0, 100%, 50%);
}

.multi-select-option-badge:hover > .multi-select-remove-btn,
.multi-select-option-badge:focus > .multi-select-remove-btn {
    color: hsl(0, 100%, 50%);
}

.multi-select-option-badge > .multi-select-remove-btn {
    font-size: 1.25em;
    color: #777;
}